<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додадете угостителски објект</title>
</head>
<body>
<form>

<div >
    <div>
        <label>Име на објект: </label>
        <input name="ime" type="text">
    </div>
    <div>
        <label>Адреса на објект: </label>
        <input name="adresa" type="text">
    </div>
    <div>
        <label>Опис на објект: </label>
        <textarea name="opis" type="text"></textarea>
    </div>
    <div>
        <label>Слика на објект: </label>
        <input name="slika" type="text">
    </div>
    <div>
        <label>Вкупно маси во објектот: </label>
        <input name="vkupnoMasi" type="text">
    </div>

</div>
    <button type="submit">Додади</button>
</form>



</body>
</html>