<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додадете угостителски објект</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form>

                    <div class="form-group" >
                        <label>Име на објект: </label>
                        <input class="form-control" name="ime" type="text">
                    </div>
                    <div class="form-group">
                        <label>Адреса на објект: </label>
                        <input class="form-control" name="adresa" type="text">
                    </div>
                    <div class="form-group">
                        <label>Опис на објект: </label>
                        <textarea class="form-control" name="opis" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Слика на објект: </label>
                        <input class="form-control" name="slika" type="text">
                    </div>
                    <div class="form-group">
                        <label>Вкупно маси во објектот: </label>
                        <input class="form-control" name="vkupnoMasi" type="number" min="0">
                    </div>
                <div class="form-group">
                    <label>Град на објект: </label>
                    <input class="form-control" name="grad" type="text">
                </div>
                <div class="form-group">
                    <label>Шеф на објект: </label>
                    <label class="form-control"  disabled  type="text" th:text="${#request.getRemoteUser()}"></label>
                    <input class="form-control" hidden name="shef" type="text" th:value="${#request.getRemoteUser()}">
                </div>


                <button type="submit" class="btn btn-outline-dark">Додади</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>