<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking form</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{/user/book}" th:method="POST">
                <div>
                    <label>Угостителски објект :</label>
                    <input class="form-control" name="objectId"  th:value="${object.id}" >

                    </input>
                </div>
                <div class="form-group">
                    <label>Датум :</label>
                    <input type="date" class="form-control" required name="date">
                </div>

                <div class="form-group">
                    <label>Време :</label>
                    <input type="time" id="appt"
                           min="09:00" max="21:00"  class="form-control" step="60" name="time">
                </div>
                <div class="form-group">
                    <label>Број на луѓе :</label>
                    <input type="number" class="form-control" required name="numPersons">
                </div>

                <div style="margin-top: 5%" class="d-flex justify-content-around">
                    <a type="button" class="btn btn-outline-dark" href="/home">Назад</a>
                    <button type="submit" class="btn btn-outline-dark">Потврди</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>