<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 m-4">
            <form th:action="@{/user/book}" th:method="POST">
                <img th:src="*{'data:image/jpeg;base64,'+{object.urlImg}}" class="img-fluid" alt="Responsive image">
                <div class="form-group">
                    <label>Резервација за:</label>
                    <label  disabled type="text" th:text="${#request.getRemoteUser()}"></label>
                    <input  class="form-control"  hidden name="klientUserName" type="text" th:value="${#request.getRemoteUser()}">
                </div>
                <div class="form-group">
                    <label>Угостителски објект :</label>
                    <label  disabled type="text" th:text="${object.imeNaObjekt}"></label>
                    <input  hidden class="form-control" name="objectId"  th:value="${object.id}" >

                    </input>
                </div>
                <div class="form-group">
                    <label>Датум :</label>
                    <input id="date_picker" type="date" class="form-control" required name="date">
                    <script >
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0');
                        var yyyy = today.getFullYear();

                        today = yyyy + '-' + mm + '-' + dd;
                        $('#date_picker').attr('min',today);
                    </script>
                </div>

                <div class="form-group">
                    <label>Време :</label>
                    <input type="time" id="appt"
                           min="08:00" max="21:00"  class="form-control"  name="time">
                </div>
                <div class="form-group">
                    <label>Број на луѓе :</label>
                    <input type="number" class="form-control" required name="numPersons">
                </div>

                <div style="margin-top: 5%" class="d-flex justify-content-around">
                    <a type="button" class="btn btn-outline-dark" href="/home">Назад</a>
                    <button type="submit" class="btn btn-outline-dark">Потврди</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>