<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div  class="mt-5" th:if="${employees.size() == 0}">
        <h1 class="text-center">Листата за вработени е празна!</h1>
    </div>

    <div th:if="${employees.size() > 0}">
        <h1 class="mt-5">Вработени луге на <th:block th:text="${shef}"></th:block>:</h1>
        <hr/>
        <div class="container mb-4">
            <div class="row">
                <div class="col-12" >
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Корисничко име</th>
                                <th scope="col">Име</th>
                                <th scope="col">Презиме</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="emp : ${employees}">
                                <tr scope="row">
                                    <td  th:text="${emp.getUsername()}"></td>
                                    <td  th:text="${emp.getUser().getName()}"></td>
                                    <td  th:text="${emp.getUser().getSurname()}"></td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>