<head xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div class="container m-4" th:if="${rezervacii.size() == 0}">
        <h1 class="text-center">Листата за резервации е празна!</h1>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${rezervacii.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th sec:authorize="hasRole('ROLE_EMPLOYEE')" scope="col">Име</th>

                        <th scope="col">Угостителски објект</th>
                        <th scope="col">Датум</th>
                        <th scope="col">Време</th>
                        <th scope="col"></th>
                    </tr>

                    </thead>
                    <tbody>
                    <div th:each="rez : ${rezervacii}">
                        <div th:if="${rez.getStatusRezervacija()} == 'zakazhana' ">
                            <tr scope="row" >
                                <td sec:authorize="hasRole('ROLE_EMPLOYEE')" th:text="${rez.klient.username}"></td>
                                <td th:text="${rez.ugostitelskiObjekt.imeNaObjekt}"></td>
                                <td th:text="${rez.localDate}"></td>
                                <td th:text="${rez.localTime}"></td>

                                <td>
                                    <form sec:authorize="hasRole('ROLE_EMPLOYEE')"
                                          th:action="@{'/user/accept/{id}' (id=${rez.getId()})}" method="POST">
                                        <input type="hidden" th:value="${#request.getRemoteUser()}" name="username">
                                        <button
                                                class="btn btn-success">Потврди</button>
                                    </form>
                                    <form th:action="@{'/user/cancel/{id}' (id=${rez.getId()})}" method="POST">
                                        <input type="hidden" th:value="${#request.getRemoteUser()}" name="username">
                                        <button
                                                class="btn btn-danger">Откажи</button>
                                    </form>
                                </td>
                            </tr>
                        </div>


                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
