<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Угостителски објект</title>

</head>
<body>
<div style="margin: auto; margin-top: 5%" class="row">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="col-md-5">
                <img class="form-group"
                     th:src="*{'data:image/jpeg;base64,'+{objekt.urlImg}}" style="width: 500px;height:300px;">
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Име на објект: </label>
                    <label class="form-control" th:text="${objekt.ImeNaObjekt}"></label>
                </div>
                <div class="form-group">
                    <label>Адреса на објект: </label>
                    <label class="form-control" th:text="${objekt.adresa}"></label>
                </div>
                <div class="form-group">
                    <label>Град на објект: </label>
                    <label class="form-control" th:text="${objekt.grad.imeGrad}"></label>
                </div>
                <div class="form-group">
                    <label>Слободни маси во објектот: </label>
                    <label class="label label-default" id="masi" th:text="${objekt.vkupnoMasi}"></label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label>Опис на објект: </label>
            <textarea disabled class="form-control" th:text="${objekt.opis}"></textarea>
        </div>

        <div style="margin-top: 5%" class="d-flex justify-content-around">
            <a type="button" class="btn btn-outline-dark" href="/home">Назад</a>
            <form th:action="@{'/home/rezerviraj/{id}' (id=${objekt.getId()})}"
                    th:method="POST">
                <button th:if="${objekt.vkupnoMasi} == 0" disabled class="btn btn-outline-dark">Резервирај</button>
                <button th:if="${objekt.vkupnoMasi} > 0"  class="btn btn-outline-dark">Резервирај</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>